<!-- The content below is only a placeholder and can be replaced. -->
<div class="container">
  <blockchain-header></blockchain-header>

  <div class="blockchain">
    <h1>BlockChain</h1>
    <div class="block container" *ngFor="let block of blockChain.chain">
      {{ block.name }}

      <blockchain-input texto="Hash" [(value)]="block.hash"> </blockchain-input>

      <button
        type="button"
        class="btn btn-lg btn-block mb-3"
        [ngClass]="block.hasValidTransactions() ? 'btn-success' : 'btn-danger'"
        (click)="show(block)"
      >
        <i
          class="fa fa-check"
          *ngIf="block.hasValidTransactions()"
          aria-hidden="true"
        ></i>
        <i
          class="fa fa-times"
          *ngIf="!block.hasValidTransactions()"
          aria-hidden="true"
        ></i>
        Transações
      </button>

      <blockchain-input texto="Previous Hash" [(value)]="block.previousHash">
      </blockchain-input>
    </div>
    <!--
      <div>
        <img src="assets/link.png" />
      </div>
    -->
  </div>

  <div class="blockchain" *ngIf="showTX">
    <div class="container">
      <div class="row justify-content-between">
        <h1>Transações do {{ _block.name }}</h1>
        <button type="button" class="btn btn-link" (click)="closeTX()">
          <i class="fa fa-times" aria-hidden="true"></i> Fechar
        </button>
      </div>
    </div>
    <div
      class="block container"
      *ngFor="let transaction of _block.transactions"
    >
      <blockchain-input texto="Signature" [(value)]="transaction.signature">
      </blockchain-input>

      <blockchain-input texto="Valor" [(value)]="transaction.amount">
      </blockchain-input>

      <blockchain-input texto="De" [(value)]="transaction.fromAddress">
      </blockchain-input>

      <blockchain-input texto="Para" [(value)]="transaction.toAddress">
      </blockchain-input>
    </div>
  </div>

  <div class="blockchain" *ngIf="blockChain.pendingTransactions.length > 0">
    <div class="container">
      <div class="row justify-content-between">
        <h1>Transações Pendentes</h1>
        <button
          type="button"
          class="btn btn-link"
          data-toggle="modal"
          data-target="#mineModal"
        >
          <i class="fa fa-btc" aria-hidden="true"></i> Mine
        </button>
      </div>
    </div>
    <div
      class="block container"
      *ngFor="let transaction of blockChain.pendingTransactions"
    >
      <blockchain-input texto="Signature" [(value)]="transaction.signature">
      </blockchain-input>

      <blockchain-input texto="Valor" [(value)]="transaction.amount">
      </blockchain-input>

      <blockchain-input texto="De" [(value)]="transaction.fromAddress">
      </blockchain-input>

      <blockchain-input texto="Para" [(value)]="transaction.toAddress">
      </blockchain-input>
    </div>
  </div>
</div>

<blockchain-tx-modal (saveTX)="addTX($event)"></blockchain-tx-modal>
<blockchain-key-modal></blockchain-key-modal>
<blockchain-mine-modal></blockchain-mine-modal>
<blockchain-config-modal></blockchain-config-modal>
